<div class="row stage-row">
  <span class="confirmation-message">Please confirm your details</span>
</div>
<div class="row stage-row">
  <span class="col-sm-4 stage-label">Name:</span>
  <span class="col-sm-8" data-bind="text: name"></span>
</div>
<div class="row stage-row">
  <span class="col-sm-4 stage-label">Address:</span>
  <span class="col-sm-8" data-bind="text: address"></span>
</div>
<div class="row stage-row">
  <span class="col-sm-4 stage-label">City:</span>
  <span class="col-sm-8" data-bind="text: city"></span>
</div>
<div class="row stage-row">
  <span class="col-sm-4 stage-label">State:</span>
  <span class="col-sm-8" data-bind="text: state"></span>
</div>
<div class="row stage-row">
  <span class="col-sm-4 stage-label">Zipcode:</span>
  <span class="col-sm-8" data-bind="text: zipcode"></span>
</div>
<div class="row stage-row">
  <span class="col-sm-4 stage-label">Card #:</span>
  <span class="col-sm-8" data-bind="text: card"></span>
</div>
<div class="row stage-row">
  <span class="col-sm-4 stage-label">Expiration Date:</span>
  <span class="col-sm-8" data-bind="text: expiration"></span>
</div>
<div class="row stage-row">
  <span class="col-sm-4 stage-label">Security Code:</span>
  <span class="col-sm-8" data-bind="text: security"></span>
</div>
<div class="row stage-row">
  <button id="confirmationCont" type="button" class="btn btn-success continue-button">Continue <i class="fas fa-arrow-right"></i></button>
</div>
