<html>
  <head>
    <script src="jquery\dist\jquery.min.js"></script>
    <script src="knockout\build\output\knockout-latest.js"></script>
    <script src="popper.js\dist\popper.min.js"></script>
    <script src="bootstrap\dist\js\bootstrap.min.js"></script>

    <link rel="stylesheet" href="bootstrap\dist\css\bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"></link>
    <link rel="stylesheet" href="style.css"></link>
  </head>
  <body>
    <div id="theater">
      <div id="panel" class="container">
        <div class="row">
          <div class="col-sm-4">
            <button type="button" id="ship" class="btn btn-link panel-button">Shipping Address</button>
          </div>
          <div class="col-sm-4">
            <button type="button" id="pay" class="btn btn-link panel-button">Payment Details</button>
          </div>
          <div class="col-sm-4">
            <button type="button" id="confirmation" class="btn btn-link panel-button">Confirmation</button>
          </div>
        </div>
      </div>
      <div id="stage" class="container"></div>
    </div>
  </body>
  <footer>
    <script src="index.js"></script>
  </footer>
</html>
