<div class="row stage-row">
  <input class="form-control" data-bind="value: card" placeholder="Card #"></input>
</div>
<div class="row stage-row">
  <input class="form-control" type="date" data-bind="value: expiration" placeholder="Expiration Date"></input>
</div>
<div class="row stage-row">
  <input class="form-control" data-bind="value: security" placeholder="Security Code" maxlength="3"></input>
</div>
<div class="row stage-row">
  <button id="payCont" type="button" class="btn btn-success continue-button">Continue <i class="fas fa-arrow-right"></i></button>
</div>
