<div class="row stage-row">
  <input class="form-control" data-bind="value: name" placeholder="Name"></input>
</div>
<div class="row stage-row">
  <input class="form-control" data-bind="value: address" placeholder="Address"></input>
</div>
<div class="row stage-row">
  <input class="form-control" data-bind="value: city" placeholder="City"></input>
</div>
<div class="row stage-row">
  <input class="form-control" data-bind="value: state" placeholder="State"></input>
</div>
<div class="row stage-row">
  <input class="form-control" data-bind="value: zipcode" placeholder="Zipcode"></input>
</div>
<div class="row stage-row">
  <button id="shipCont" type="button" class="btn btn-success continue-button">Continue <i class="fas fa-arrow-right"></i></button>
</div>
